<nav class="navbar navbar-default"> <!-- Botar componente -->
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ng-click="home()">
        <img style="height: 100%;" src="http://cifmc.fis.unb.br/iiiefras/logounb.png">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">UnB Oportundidades</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" ng-hide="isUserLoggedIn" login-button>Login</a></li>
      <li><a href="#" ng-hide="isUserLoggedIn" register-button>Cadastro</a></li>
      <li><a href="#" ng-show="isUserLoggedIn" ng-click="logout()">Sair</a></li>
    </ul>
  </div>
</nav>
