
# Created by https://www.gitignore.io/api/django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media
api/migrations/

### PyCharm / JetBrains ###
.idea/

# End of https://www.gitignore.io/api/django
!/api/migrations/__init__.py
