.main-info{
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  background-color: #dddddd ;
  border-radius: 10px;
  opacity: 0.8;
  margin-bottom: 20px;

}
.main-info h1{
  font-family: "Roboto", sans-serif;
  font-size: 50px !important;
}
body{
  background-image: url("https://image.freepik.com/free-vector/blurred-background-green-and-blue-color_1159-761.jpg") !important;
  background-size: cover;
}

footer{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255,255,255,0.5) !important;
}
footer ul, footer p{
  margin-bottom: 0;
}
footer .footer-block{
  
}
footer a{
  color: #188b87;
}
footer .footer-menu a{
  text-transform: uppercase;
}
footer .social-icon a{
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border:1px solid #ddd;
}
@media (max-width: 767px){
  footer .footer-menu{
    text-align: center;
  }
  footer .social-icon{
    float: none !important;
    text-align: center;
  }
}
