<div class="container">
  <br>
  <div id="jobCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#jobCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#jobCarousel" data-slide-to="1"></li>
      <li data-target="#jobCarousel" data-slide-to="2"></li>
      <li data-target="#jobCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <div class="row">

          <div class="col-md-4"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
            <div class="carousel-caption">
              <h3>Nome da Empresa</h3>
            </div>
          </div>
          <div class="col-md-4"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
            <div class="carousel-caption">
              <h3>Nome da Empresa</h3>
            </div>
          </div>
          <div class="col-md-4"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
            <div class="carousel-caption">
              <h3>Nome da Empresa</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-4"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
            <div class="carousel-caption">
              <h3>Nome da Empresa</h3>
              <p>Quantidade de vagas</p>
            </div>
          </div>
          <div class="col-md-4"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
            <div class="carousel-caption">
              <h3>Nome da Empresa</h3>
              <p>Quantidade de vagas</p>
            </div>
          </div>
          <div class="col-md-4"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
            <div class="carousel-caption">
              <h3>Nome da Empresa</h3>
              <p>Quantidade de vagas</p>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-4"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
            <div class="carousel-caption">
              <h3>Nome da Empresa</h3>
              <p>Quantidade de vagas</p>
            </div>
          </div>
          <div class="col-md-4"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
            <div class="carousel-caption">
              <h3>Nome da Empresa</h3>
              <p>Quantidade de vagas</p>
            </div>
          </div>
          <div class="col-md-4"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
            <div class="carousel-caption">
              <h3>Nome da Empresa</h3>
              <p>Quantidade de vagas</p>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col-md-4"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
            <div class="carousel-caption">
              <h3>Nome da Empresa</h3>
              <p>Quantidade de vagas</p>
            </div>
          </div>
          <div class="col-md-4"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
            <div class="carousel-caption">
              <h3>Nome da Empresa</h3>
              <p>Quantidade de vagas</p>
            </div>
          </div>
          <div class="col-md-4"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><div class="carousel-caption">
            <h3>Nome da Empresa</h3>
            <p>Quantidade de vagas</p>
          </div>
        </div>
        </div>
      </div>

    </div>

    <!-- Left and right controls -->
    <!-- <a class="left carousel-control" href="#jobCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" id="left-carousel-btn"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#jobCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" id="right-carousel-btn"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> -->
</div>
