<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>UnB oportunidade</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="includes/main.css">
  <link rel="stylesheet" type="text/css" href="includes/admin.css">
  <link rel="stylesheet" href="includes/AdminLTE.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Webysther_20160322_-_Logo_UnB_%28sem_texto%29.svg/1200px-Webysther_20160322_-_Logo_UnB_%28sem_texto%29.svg.png"/></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Login</a></li>
          <li><a href="#">Cadastro</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="jumbotron">
    <div class="container">
      <div class="page-header">
        <h1>Nome da empresa</h1>
      </div>
      <p>Menu de admin. Mude suas configurações.</p>
    </div>
  </section>

  <section id="lista_alunos">
    <div class="container">
      <!-- Table row -->
      <div class="row">
        <!-- filter sidebar -->
        <div id="filter-sidebar" class="col-xs-2 col-sm-2 visible-sm visible-md visible-lg collapse sliding-sidebar">

          <div>
            <h4 data-toggle="collapse" data-target="#group-1">
              <i class="fa fa-fw fa-caret-down parent-expanded"></i>
              <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
              Meus candidatos:
            </h4>
            <div id="group-1" class="list-group collapse in">
              <a class="list-group-item tablinks" href="#" onclick="openOp(event, 'candidates')">
                Ver candidatos
              </a>
              <a class="list-group-item tablinks" href="#" onclick="openOp(event, 'vacancies')">
                Gerenciar vagas
              </a>
            </div>
          </div>
          <div>
            <h4 data-toggle="collapse" data-target="#group-2">
              <i class="fa fa-fw fa-caret-down parent-expanded"></i>
              <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
              Notificações do DAIA
            </h4>
            <div id="group-2" class="list-group collapse in">
              <a class="list-group-item tablinks" href="#" onclick="openOp(event, 'virtual_line')">
                Fila virtual
              </a>
              <a class="list-group-item tablinks" href="#" onclick="openOp(event, 'protocol')">
                Protocolo
              </a>
            </div>
          </div>
          <div>
            <h4 data-toggle="collapse" data-target="#group-3">
              <i class="fa fa-fw fa-caret-down parent-expanded"></i>
              <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
              Configurações
            </h4>
            <div id="group-3" class="list-group collapse in">
              <a class="list-group-item tablinks" href="#" onclick="openOp(event, 'comp_data')">
                Dados da empresesa
              </a>
              <a class="list-group-item tablinks" href="#" onclick="openOp(event, 'fin_data')">
                Dados financeiros
              </a>
              <a class="list-group-item tablinks" href="#" onclick="openOp(event, 'options')">
                Opções de lorem ipsum
              </a>
            </div>
          </div>
        </div>

        <div class="col-xs-10 table-responsive" ng-app = "mainApp" ng-controller = "studentController">
          <table class="table table-striped tabcontent" id="candidates">
            <thead>
            <tr>
              <th>Aluno</th>
              <th>Curso</th>
              <th>Matricula</th>
              <th>Carga Horaria</th>
              <th>Turno</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td >Marcos Vinicius</td>
              <td>Ciência da Computação</td>
              <td>14/0071989</td>
              <td>30</td>
              <td>Matutino</td>
            </tr>
            <tr>
              <td>Aninha</td>
              <td>Administração</td>
              <td>17/0019384</td>
              <td>20</td>
              <td>Noturno</td>
            </tr>
            <tr>
              <td>Jack Nicholson</td>
              <td>Artes Cênicas</td>
              <td>14/0098374</td>
              <td>30</td>
              <td>Noturno</td>
            </tr>
            <tr>
              <td>Fora Temer</td>
              <td>Gestão Publica</td>
              <td>13/0000666</td>
              <td>20</td>
              <td>Vespertino</td>
            </tr>
            </tbody>
          </table>

          <table class="table table-striped tabcontent" id="vacancies">
            <thead>
            <tr>
              <th>Vaga</th>
              <th>Area</th>
              <th>Remuneração</th>
              <th>Carga Horaria</th>
              <th>Turno</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Assistente de gerente</td>
              <td>Administração</td>
              <td>R$ 1000,00</td>
              <td>30</td>
              <td>Matutino</td>
            </tr>
            <tr>
              <td>Programador</td>
              <td>Ciência da Computação</td>
              <td>R$ 800,00</td>
              <td>20</td>
              <td>Noturno</td>
            </tr>
            <tr>
              <td>Tecnico de farmacos</td>
              <td>Biotecnologia</td>
              <td>R$ 1000,00</td>
              <td>30</td>
              <td>Noturno</td>
            </tr>
            <tr>
              <td>Gestão de Pol. Publicas</td>
              <td>Gestão Publica</td>
              <td>R$ 800,00</td>
              <td>20</td>
              <td>Vespertino</td>
            </tr>
            </tbody>
          </table>


          <table class="table table-striped tabcontent" id="virtual_line">
            <thead>
            <tr>
              <th>Posição</th>
              <th>Aluno</th>
              <th>Curso</th>
              <th>Matricula</th>
              <th>Vaga</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>01</td>
              <td>Marcos Vinicius</td>
              <td>Ciência da Computação</td>
              <td>14/0071990</td>
              <td>Programador</td>
            </tr>
            <tr>
              <td>02</td>
              <td>Johnny</td>
              <td>Computação</td>
              <td>17/0019391</td>
              <td>Programador</td>
            </tr>
            <tr>
              <td>03</td>
              <td>Elvis</td>
              <td>Computação</td>
              <td>17/0019392</td>
              <td>Programador</td>
            </tr>
            <tr>
              <td>04</td>
              <td>Bob</td>
              <td>Computação</td>
              <td>17/0019393</td>
              <td>Programador</td>
            </tr>
            </tbody>
          </table>
          <footer>
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <div class="footer-block">
                  <ul class="list-inline footer-menu">
                    <li><a href="">Termos de Uso</a></li>
                    <li><a href="">Politicas de privacidade</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="footer-block text-center">
                  <p class="copyright">
                    © Orgulhosamente criado pela turma A de Linguagens de Programação 01/2017 <a href="https://github.com/mateusluizfb/unb-oportunidade" data-toggle="tooltip" title="">Veja no GitHub</a>
                  </p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="footer-block">
                  <ul class="list-inline pull-right social-icon">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
</body>

          <script>
          function openOp(evt, configOp) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                  tabcontent[i].style.display = "none";
              }
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
                  tablinks[i].className = tablinks[i].className.replace(" active", "");
              }
              document.getElementById(configOp).style.display = "block";
              evt.currentTarget.className += " active";
          }

        </script>
</html>
