<section class="jumbotron">
  <div class="container">
    <div class="page-header">
      <h1>Nome da empresa</h1>
    </div>
    <p>Menu de admin. Mude suas configurações.</p>
  </div>
</section>

<section id="lista_alunos">
  <div class="container">
    <!-- Table row -->
    <div class="row">
      <!-- filter sidebar -->
      <div id="filter-sidebar" class="col-xs-2 col-sm-2 visible-sm visible-md visible-lg collapse sliding-sidebar">

        <div>
          <h4 data-toggle="collapse" data-target="#group-1">
              <i class="fa fa-fw fa-caret-down parent-expanded"></i>
              <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
              Meus candidatos:
            </h4>
          <div id="group-1" class="list-group collapse in">
            <a class="list-group-item tablinks" href="#" onclick="openOp(event, 'candidates')">
                Ver candidatos
              </a>
            <a class="list-group-item tablinks" href="#" onclick="openOp(event, 'vacancies')">
                Gerenciar vagas
              </a>
          </div>
        </div>
        <div>
          <h4 data-toggle="collapse" data-target="#group-2">
              <i class="fa fa-fw fa-caret-down parent-expanded"></i>
              <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
              Notificações do DAIA
            </h4>
          <div id="group-2" class="list-group collapse in">
            <a class="list-group-item tablinks" href="#" onclick="openOp(event, 'virtual_line')">
                Fila virtual
              </a>
            <a class="list-group-item tablinks" href="#" onclick="openOp(event, 'protocol')">
                Protocolo
              </a>
          </div>
        </div>
        <div>
          <h4 data-toggle="collapse" data-target="#group-3">
              <i class="fa fa-fw fa-caret-down parent-expanded"></i>
              <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
              Configurações
            </h4>
          <div id="group-3" class="list-group collapse in">
            <a class="list-group-item tablinks" href="#" onclick="openOp(event, 'comp_data')">
                Dados da empresesa
              </a>
            <a class="list-group-item tablinks" href="#" onclick="openOp(event, 'fin_data')">
                Dados financeiros
              </a>
            <a class="list-group-item tablinks" href="#" onclick="openOp(event, 'options')">
                Opções de lorem ipsum
              </a>
          </div>
        </div>
      </div>

      <div class="col-xs-10 table-responsive" ng-app="mainApp" ng-controller="studentController">
        <table class="table table-striped tabcontent" id="vacancies">
          <thead>
            <tr>
              <th>Vaga</th>
              <th>Area</th>
              <th>Remuneração</th>
              <th>Carga Horaria</th>
              <th>Turno</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Assistente de gerente</td>
              <td>Administração</td>
              <td>R$ 1000,00</td>
              <td>30</td>
              <td>Matutino</td>
            </tr>
            <tr>
              <td>Programador</td>
              <td>Ciência da Computação</td>
              <td>R$ 800,00</td>
              <td>20</td>
              <td>Noturno</td>
            </tr>
            <tr>
              <td>Tecnico de farmacos</td>
              <td>Biotecnologia</td>
              <td>R$ 1000,00</td>
              <td>30</td>
              <td>Noturno</td>
            </tr>
            <tr>
              <td>Gestão de Pol. Publicas</td>
              <td>Gestão Publica</td>
              <td>R$ 800,00</td>
              <td>20</td>
              <td>Vespertino</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
