<section class="jumbotron">
  <div class="container">
    <div class="page-header">
      <h1>Nome da empresa</h1>
    </div>
    <p>Menu de admin. Mude suas configurações.</p>
  </div>
</section>

<section id="lista_alunos">
  <div class="container">
    <!-- Table row -->
    <div class="row">
      <!-- filter sidebar -->
      <div id="filter-sidebar" class="col-xs-2 col-sm-2 visible-sm visible-md visible-lg collapse sliding-sidebar">

        <div>
          <h4 data-toggle="collapse" data-target="#group-1">
              <i class="fa fa-fw fa-caret-down parent-expanded"></i>
              <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
              Meus candidatos:
            </h4>
          <div id="group-1" class="list-group collapse in">
            <a class="list-group-item tablinks" ng-click="candidateListState()">
                  Ver candidatos
                </a>
            <a class="list-group-item tablinks" ng-click="vacancyListState()">
                  Gerenciar vagas
                </a>
          </div>
        </div>
        <div>
          <h4 data-toggle="collapse" data-target="#group-2">
              <i class="fa fa-fw fa-caret-down parent-expanded"></i>
              <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
              Notificações do DAIA
            </h4>
          <div id="group-2" class="list-group collapse in">
            <a class="list-group-item tablinks" ng-click="virtualQueueState()">
                Fila virtual
              </a>
            <a class="list-group-item tablinks">
                Protocolo
              </a>
          </div>
        </div>
        <div>
          <h4 data-toggle="collapse" data-target="#group-3">
              <i class="fa fa-fw fa-caret-down parent-expanded"></i>
              <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
              Configurações
            </h4>
          <div id="group-3" class="list-group collapse in">
            <a class="list-group-item tablinks" ng-click="enterpriseDataState()">
                Dados da empresa
              </a>
            <a class="list-group-item tablinks" ng-click="financialDataState()">
                Dados financeiros
              </a>
            <a class="list-group-item tablinks">
                Opções de lorem ipsum
              </a>
          </div>
        </div>
      </div>

      <div class="col-xs-10 table-responsive">
        <div class="btn-group">
          <button ng-click="vacancyRegisterState()" type="button" name="button" class="btn btn-success">Cadastrar vaga</button>
        </div>
        <table class="table table-striped tabcontent" id="vacancies">
          <thead>
            <tr>
              <th>Vaga</th>
              <th>Area</th>
              <th>Remuneração</th>
              <th>Carga Horaria</th>
              <th>Turno</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Assistente de gerente</td>
              <td>Administração</td>
              <td>R$ 1000,00</td>
              <td>30</td>
              <td>Matutino</td>
              <td>
                <div class="btn-group">
                  <button ng-click="vacancyRegisterState(1)" ng-click="" type="button" name="button" class="btn btn-sm btn-warning">Editar</button>
                  <button ng-click="candidateListState(1)" ng-click="" type="button" name="button" class="btn btn-sm btn-primary">Candidatos</button>
                </div>
              </td>
            </tr>
            <tr>
              <td>Programador</td>
              <td>Ciência da Computação</td>
              <td>R$ 800,00</td>
              <td>20</td>
              <td>Noturno</td>
              <td>
                <div class="btn-group">
                  <button ng-click="vacancyRegisterState(2)" ng-click="" type="button" name="button" class="btn btn-sm btn-warning">Editar</button>
                  <button ng-click="candidateListState(2)" ng-click="" type="button" name="button" class="btn btn-sm btn-primary">Candidatos</button>
                </div>
              </td>
            </tr>
            <tr>
              <td>Tecnico de farmacos</td>
              <td>Biotecnologia</td>
              <td>R$ 1000,00</td>
              <td>30</td>
              <td>Noturno</td>
              <td>
                <div class="btn-group">
                  <button ng-click="vacancyRegisterState(3)" ng-click="" type="button" name="button" class="btn btn-sm btn-warning">Editar</button>
                  <button ng-click="candidateListState(3)" ng-click="" type="button" name="button" class="btn btn-sm btn-primary">Candidatos</button>
                </div>
              </td>
            </tr>
            <tr>
              <td>Gestão de Pol. Publicas</td>
              <td>Gestão Publica</td>
              <td>R$ 800,00</td>
              <td>20</td>
              <td>Vespertino</td>
              <td>
                <div class="btn-group">
                  <button ng-click="vacancyRegisterState(4)" ng-click="" type="button" name="button" class="btn btn-sm btn-warning">Editar</button>
                  <button ng-click="candidateListState(4)" ng-click="" type="button" name="button" class="btn btn-sm btn-primary">Candidatos</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
