<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="perfil.css"/>
	</head>
	<body>
	<div id="tudo">
		<h1>Eduarda</h1>
		<figure>
			<img src="fotos/capa.jpg" alt="foto de capa" height="200px" width="100%" />
			<figcaption>O quintal de minha casa é meu espaço preferido</figcaption>
		</figure>
		<dl>
			<dt>apelido/primeiro nome:</dt>
				<dd>Eduarda</dd>
			<dt>descrição:</dt>
				<dd>Cuidar de pessoas é a minha vida...<br>Paciente, educada e corajosa serei<br>com toda certeza sua melhor funcionaria.</dd>
			<dt>nome completo:</dt>
				<dd>Eduarda Schroder da Silva</dd>
			<dt>idade:</dt>
				<dd>22</dd>
			<dt>sexo: </dt>
				<dd>feminino</dd>
			<dt>email:</dt>
				<dd>eduda@unb.com.br</dt>
			<dt>qualidades que reconheço:
				<dd>
					<ul>
						<li>criativa</li>
						<li>paciente</li>
						<li>extrovertida</li>
						<li>comunicativa</li>
						<li>educada</li>
						<li>disciplinada</li>
						<li>focada</li>
					</ul>
				</dd>
			</dt>
			<dt>defeitos que reconheço:
				<dd>
					<ul>
						<li>perfeccionista</li>
						<li>competitiva</li>
						<li>não lidar bem com pressão</li>
						<li>não trabalhar bem em equipe</li>
					</ul>
				</dd>
			</dt>
			<dt>curso:</dt>
				<dd>farmácia</dd>
			<dt>semestre:</dt>
				<dd>5</dd>
			<dt>outros meios de contato:
				<dd>
					<ul>
						<li>whatsapp: 61 8283-8382</li>
						<li>blog: dudalemanha.blogspot.com</li>
					</ul>
				</dd>			
			</dt>
			<dt>tags:
				<dd>
					<ul>
						<li>criativa</li>
						<li>extrovertida</li>
						<li>comunicativa</li>
						<li>educada</li>
						<li>farmacia</li>
						<li>biologia</li>
						<li>cadeirante</li>
						<li>Excel</li>
						<li>UnB</li>
					</ul>
				</dd>
			</dt>

		</dl>		
	</div>		
	</body>
</html>
