<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="teaser.css"/>
	</head>
	<body>
	<div id=tudo>

		<a href=""><img src="fotos/eduarda.jpg" alt="Foto de perfil" height="300px" width="400px"/></a>
		
			<span id="anterior">
				<a href="">
					<img src="fotos/left.png" alt="Ver alternativa da direita" height="60px" width="60px" />
				</a>
			</span>

			<span id="proximo">
				<a href="">
					<img src="fotos/right.png" alt="Ver alternativa da direita" height="60px" width="60px" />	
				</a>
			</span>
		<h1>Eduarda</h1>
		<p>
			Cuidar de pessoas é a minha vida...<br>
			Paciente, educada e corajosa serei<br>
			com toda certeza sua melhor funcionaria.<br>
		</p>
		<span id="perfil">
			<a href="perfilEduarda.html" target="blank-page">perfil</a>
		</span>
	</div>
	</body>
</html>
