<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <img style="height: 100%;" src="http://cifmc.fis.unb.br/iiiefras/logounb.png">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Vagas</a></li>

      <li><a href="#">Login</a></li>
      <li><a href="#">Cadastro</a></li>
    </ul>
  </div>
</nav>

<section class="initial-block">
  <banner-comp> </banner-comp>
  <!--
  <div class="container">
    <div class="jumbotron">
      <h1>Temos&nbsp;<span style="color: #ffffff;">155</span>&nbsp;vaga(s) em aberto</h1>
      <p>Encontre sua vaga de estágio na UnB, amém.</p>
    </div>
  -->
    <div class="row">
      <form class="busca-interesse col-sm-12">
        <div class="input-group col-sm-6 col-sm-offset-3">
          <button type="button" class="btn btn-secondary dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Area de interesse
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Administração (2)</a></li>
            <li><a href="#">Biblioteconomia (0)</a></li>
            <li><a href="#">Ciência da Computação (0)</a></li>
          </ul>
          <div class="input-group-btn">
            <button type="button" class="btn btn-primary">Buscar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section id="lista_vagas">
  <div class="container">
    <div class="text-center">
      <h2>Vagas</h2>
      <h4>Encontre aquela vaga de estágio dos sonhos</h4>
    </div>
    <div class="row slideanim">
      <div class="col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <table class="table">
            <tbody>
              <tr>
                <td class="col_empresa"><img class="img_empresa" src ="http://www.belasartes.br/images/destaques/novo/1451.jpg"></td>
                <td class="col_descricao">
                  <h3><a href="">Administração</a></h3>
                  <p>
                    Vaga: 1 /TAGUATINGA/ Sem.: 4º ao 6° / Bolsa: R$ 800,00+benefícios / Período: 09:00 12:00 13:00 16:00 /
                    Requisitos: Carteira de Habilitação, Windows, Word, Excel e internet.
                  </p>
                </td>
                <td class="col_contato">
                  <p class="email_contato">
                    20/06/2017
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row slideanim">
      <div class="col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <table class="table">
            <tbody>
              <tr>
                <td class="col_empresa"><img class="img_empresa" src ="http://www.belasartes.br/images/destaques/novo/1451.jpg"></td>
                <td class="col_descricao">
                  <h3><a href="">Administração</a></h3>
                  <p>
                    Vaga: 1 /TAGUATINGA/ Sem.: 4º ao 6° / Bolsa: R$ 800,00+benefícios / Período: 09:00 12:00 13:00 16:00 /
                    Requisitos: Carteira de Habilitação, Windows, Word, Excel e internet.
                  </p>
                </td>
                <td class="col_contato">
                  <p class="email_contato">
                    20/06/2017
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Orgulhosamente criado pela turma A de Linguagens de Programação 01/2017 <a href="https://github.com/mateusluizfb/unb-oportunidade" data-toggle="tooltip" title="">Veja no GitHub</a></p>
</footer>
