

<div class="container">
  <form class="busca-interesse">
    <div class="input-group">
      <button type="button" class="btn btn-secondary dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="pull-left">Pesquisar por area de interesse</span>

      </button>
      <ul class="dropdown-menu" style="width: 93%">
        <li ng-repeat="curso in cursos"><a href="#">{{curso.nome}}</a></li>
      </ul>
      <div class="input-group-btn">
        <button type="button" class="btn btn-primary" ng-click="search()">Buscar</button>
      </div>
    </div>
  </form>
</div>
<br/>
