<div class="row">
  <form class="busca-interesse col-sm-12">
    <div class="input-group col-sm-6 col-sm-offset-3">
      <button type="button" class="btn btn-secondary dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Area de interesse
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Administração (2)</a></li>
        <li><a href="#">Biblioteconomia (0)</a></li>
        <li><a href="#">Ciência da Computação (0)</a></li>
      </ul>
      <div class="input-group-btn">
        <button type="button" class="btn btn-primary" ng-click="search()">Buscar</button>
      </div>
    </div>
  </form>
</div>
