<html ng-app="unbOportunidade">
    <body>
        <div ng-controller="FinancialController">
          <form>
            <div class="form-group">
              <input type="radio" value="{{pf_id}}">Pessoa Física</input>
              <input type="radio" value="{{pj_id}}">Pessoa Jurídica</input>
            </div>
            <h3>Dados de Usuário</h3>
            <div class="form-control">
              <input type="text" class="form-control" placeholher="Nome de Usuário"></input>
              <input type="text" class="form-control" placeholher="Email"></input>
              <input type="password" class="form-control" placeholher="Senha"></input>
              <input type="password" class="form-control" placeholher="Confirme sua senha"></input>
            </div>

            <h3>Dados Pessoais</h3>
            <div class="form-control">
              <input type="text" class="form-control" placeholher="Nome Completo"></input>
              <input type="text" class="form-control" placeholher="CPF"></input>
              <input type="text" class="form-control" placeholher="Telefone 1"></input>
              <input type="text" class="form-control" placeholher="Telefone 2"></input>
              <input type="text" class="form-control" placeholher="Universidade"></input>
              <input type="text" class="form-control" placeholher="Curso"></input>
              <input type="text" class="form-control" placeholher="Semestre"></input>
              <input type="text" class="form-control" placeholher="Disponibilidade de Horário"></input>
            </div>

            <h3>Endereço</h3>
            <div class="form-control">
              <input type="text" class="form-control" placeholher="Cidade"></input>
              <input type="text" class="form-control" placeholher="Bairro"></input>
              <input type="text" class="form-control" placeholher="Estado"></input>
              <input type="text" class="form-control" placeholher="Número"></input>
              <input type="text" class="form-control" placeholher="Complemento"></input>
              <input type="text" class="form-control" placeholher="CEP"></input>
            </div>

            <h3>Conta do Banco</h3>
            <div class="form-control">
              <input type="text" class="form-control" placeholher="Nome do Banco"></input>
              <input type="text" class="form-control" placeholher="Numero da conta"></input>
              <input type="text" class="form-control" placeholher="Agência"></input>
            </div>

            <h3>Empresa</h3>
            <div class="form-control">
              <input type="text" class="form-control" placeholher="Nome da empresa"></input>
              <input type="text" class="form-control" placeholher="Nome corporativo"></input>
              <input type="text" class="form-control" placeholher="CNPJ"></input>
            </div>

            <h3>Currículo</h3>
            <div class="form-control">
              <input type="File" class="form-control"accept=".pdf">Choose File</input>
            </div>
            <button class="btn btn-info"> Enviar </button>
          </form>
        </div>
    </body>
</html>
