<div class="container-fluid">
  <div class="form-group">
    <label for="carga_horaria">Carga Horaria</label>
    <input type="text" name="carga_horaria" value="" class="form-control">
  </div>
  <div class="form-group">
    <label for="curso">Curso</label>
    <select name="curso" class="form-control">
    </select>
  </div>
  <div class="form-group">
    <label for="descricao">Descricao</label>
    <input type="textarea" name="descricao" value="" class="form-control">
  </div>
  <div class="form-group">
    <label for="empresa">Empresa</label>
    <select name="empresa" class="form-control">
    </select>
  </div>
  <div class="form-group">
    <label for="ativa">Ativa</label>
    <input type="checkbox" name="ativa">
  </div>
  <div class="form-group">
    <label for="semestre_minimo">Semestre Minimo</label>
    <input type="text" name="semestre_minimo" class="form-control">
  </div>
  <div class="form-group">
    <label for="titulo">Titulo</label>
    <input type="text" name="titulo" class="form-control">
  </div>
  <div class="form-group">
    <label for="turno">Turno</label>
    <input type="text" name="turno" class="form-control">
  </div>
  <div class="form-group">
    <div class="btn-group">
      <button type="button" name="button" class="btn btn-success">Cadastrar</button>
      <button ng-click="voltar()" type="button" name="button" class="btn btn-default">Voltar</button>
    </div>
  </div>
</div>
