{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="http://www.unb.br/templates/unb/favicon.ico" type="image/x-icon">
    <meta name="keywords" content="">
    <meta name="description" content="Procurando vagas de estágio na UnB? O DAIA e os coordenadores publicam as vagas diretamente no UnB Oportunidades. Encontre sua vaga gratuitamente!">
    <title>UnB Oportunidade</title>

    <script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}">
    </script>

    {% include 'stylesheet.html'%}
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="logo__text navbar-brand" href="index.html">
            <img src="http://cifmc.fis.unb.br/iiiefras/logounb.png">
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Vagas</a></li>

          <li><a href="#">Login</a></li>
          <li><a href="#">Cadastro</a></li>
        </ul>
      </div>
    </nav>

    <section class="initial-block">
      <div class="container">
        <div class="jumbotron">
          <h1>Temos&nbsp;<span style="color: #ffffff;">155</span>&nbsp;vaga(s) em aberto</h1>
          <p>Encontre sua vaga de estágio na UnB, amém.</p>

          <div class="row">
            <form class="busca-interesse col-sm-6 col-sm-offset-3">
              <div class="input-group">
                <input type="text" class="form-control" size="50" placeholder="Area de interesse" required>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-primary">Buscar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section id="lista_vagas">
      <div class="container">
        <div class="text-center">
          <h2>Vagas</h2>
          <h4>Encontre aquela vaga de estágio dos sonhos</h4>
        </div>
        <div class="row slideanim">
          <div class="col-sm-12 col-xs-12">
            <div class="panel panel-default">
              <table class="table">
                <tbody>
                  <tr>
                    <td class="col_empresa"><img class="img_empresa" src ="http://www.belasartes.br/images/destaques/novo/1451.jpg"></td>
                    <td class="col_descricao">
                      <h3>Administração</h3>
                      <p>
                        Vaga: 1 /TAGUATINGA/ Sem.: 4º ao 6° / Bolsa: R$ 800,00+benefícios / Período: 09:00 12:00 13:00 16:00 /
                        Requisitos: Carteira de Habilitação, Windows, Word, Excel e internet.
                      </p>
                    </td>
                    <td class="col_contato">july@example.com</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
      <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a><br><br>
      <p>Orgulhosamente criado pela turma A de Linguagens de Programação 01/2017 <a href="https://github.com/mateusluizfb/unb-oportunidade" data-toggle="tooltip" title="">Veja no GitHub</a></p>
    </footer>

    {% include 'javascript.html' %}
  </body>
</html>
