{% load static %}

<div>

  <!-- * Em produção, importar os .min ou mimificar tudo -->

  <!-- JQuery -->
  <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>

  <!-- Bootstrap -->
  <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>

  <!-- AngularJS modules -->
  <script type="text/javascript" src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/message-center/message-center.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/a0-angular-storage/dist/angular-storage.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-jwt/dist/angular-jwt.js' %}"></script>

  <!-- AngularJS app e componentes -->
  <script type="text/javascript" src="{% static 'app/scripts/app.js' %}"></script>

  <!-- Vacancy Listing -->
  <script type="text/javascript" src="{% static 'app/scripts/components/vacancyListing/vacancy.listing.component.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/vacancyListing/vacancy.listing.config.js' %}"></script>

  <!-- Vacancy Detail -->
  <script type="text/javascript" src="{% static 'app/scripts/components/vacancyDetail/vacancy.detail.component.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/vacancyDetail/vacancy.detail.config.js' %}"></script>

  <!-- Banner -->
  <script type="text/javascript" src="{% static 'app/scripts/components/banner/banner.component.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/banner/banner.config.js' %}"></script>

  <!-- Navbar -->
  <script type="text/javascript" src="{% static 'app/scripts/components/navbar/navbar.component.js' %}"></script>

  <!-- Vacancies Main -->
  <script type="text/javascript" src="{% static 'app/scripts/components/vacanciesMain/vacancies.main.component.js' %}"></script>

  <!-- Input Search -->
  <script type="text/javascript" src="{% static 'app/scripts/components/inputSearch/input.search.component.js' %}"></script>

  <!-- Footer -->
  <script type="text/javascript" src="{% static 'app/scripts/components/footer/footer.component.js' %}"></script>

  <!-- Carousel -->
  <script type="text/javascript" src="{% static 'app/scripts/components/carousel/carousel.component.js' %}"></script>

  <!-- Views Admin -->
  <script type="text/javascript" src="{% static 'app/scripts/components/viewsAdmin/candidate/candidate.config.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/viewsAdmin/candidate/candidate.list.component.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/viewsAdmin/candidate/vacancy.list.component.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/viewsAdmin/daiaNotifications/daia.notifications.config.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/viewsAdmin/daiaNotifications/virtual.queue.component.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/viewsAdmin/adminConfig/adminconfig.config.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/viewsAdmin/adminConfig/enterprise.component.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/viewsAdmin/adminConfig/financial.data.component.js' %}"></script>

  <!-- Login Button directive -->
  <script type="text/javascript" src="{% static 'app/scripts/directives/loginButton/login.button.js' %}"></script>

  <!-- Register Button directive -->
  <script type="text/javascript" src="{% static 'app/scripts/directives/registerButton/register.button.js' %}"></script>

  <!-- Services -->
  <script type="text/javascript" src="{% static 'app/scripts/services/jwt.service.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/services/courses.service.js' %}"></script>

  <!-- Exemplos -->
  <script type="text/javascript" src="{% static 'app/scripts/components/exemplo/exemplo.component.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/exemplo/exemplo.config.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/templates/template.config.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/templates/controller.js' %}"></script>


</div>
