{% load static %}

<div>

  <!-- * Em produção, importar os .min ou mimificar tudo -->

  <!-- JQuery -->
  <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>

  <!-- Bootstrap -->
  <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>

  <!-- AngularJS modules -->
  <script type="text/javascript" src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.js' %}"></script>
  <script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap.js' %}"></script>


  <!-- AngularJS app -->
  <script type="text/javascript" src="{% static 'app/scripts/app.js' %}"></script>

  <script type="text/javascript" src="{% static 'app/scripts/components/exemplo/exemplo.component.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/components/exemplo/exemplo.config.js' %}"></script>

  <script type="text/javascript" src="{% static 'app/scripts/templates/template.config.js' %}"></script>

  <script type="text/javascript" src="{% static 'app/scripts/templates/temp/template.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/scripts/templates/temp/template.temp.config.js' %}"></script>

</div>
