{% load static %}

<!-- Bootstrap * Em produção, importar os .min ou mimificar tudo -->
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-bootstrap/ui-bootstrap-csp.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheet/carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheet/custom.css' %}">


 <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet"> 
